mixin authorInfo
    +b('div').authorInfo
        +e('div').wrapper
            +e('div').content
                +e('div').col(class="authorInfo__col_1")
                    +e('div').preview
                        +e('img')(src="")

                +e('div').col(class="authorInfo__col_2")
                    +e('div').title!= ""

                    +e('div').text
                        +e('p')!= ""
