include ../scheduleFilter/scheduleFilter
include ../scheduleList/scheduleList

mixin schedule
    +b('section').schedule
        +e('div').wrapper
            +e('div').header
                +e('div').title
                    +e('h1')!= "Расписание <span>лекций</span>"

                +e('a').arrow(href="#", class="schedule__trigger")
                    +e('div').arrow__wrapper
                        +e('div').arrow__icon

                        +e('div').arrow__text!= "<span></span> лекций"

                +e('a').burger(href="#", class="schedule__trigger")
                    +e('div').burger__wrapper
                        +e('div').burger__icon

            +e('div').content
                +e('div').col(class="schedule__col_1")
                    +scheduleFilter

                +e('div').col(class="schedule__col_2")
                    +scheduleList
