mixin formSelectMultiple(data)
    +b('div').formSelectMultiple(data-list="")
        +e('div').wrapper
            +e('div').header
                +e('label').label(for= data.id)!= data.label

            +e('div').content
                +e('select').select(name= data.name, id= data.id)
                    +e('option')(value='')!= ''

                    each item in data.list
                        +e('option')(value= item.value)!= item.text

            +e('div').footer
                +e('ul').list
